<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/user.css">
    <title>User Dashboard</title>
</head>
<body>
    <main>

       <!--==================== HEADER ====================-->
   <header class="header" id="header">
    
    <nav class="nav container">
       <a href="#" class="nav__logo">
          <img class="logo" src="assets/img/logo.svg" alt="">
          <p class="logo__name"></p>
       </a>

       <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">

             <li class="nav__item">
                <a href="#locate" class="nav__link">Locate</a>
             </li>

             <li class="nav__item">
                <a href="#analyze" class="nav__link">Analyze</a>
             </li>

             <li class="nav__item">
                <a href="#credits" class="nav__link">Credits</a>
             </li>

             <li class="nav__item">
                <a href="#redeem" class="nav__link">Redeem</a>
             </li>
          </ul>


          <div class="user__info">
            <img src="assets/img/man.png" alt="">
            <p class="user__name"><%= currentUser.username %></p>
          </div>

          <!--  Close Button  -->
          <div class="nav__close" id="nav-close">
             <img class="icon" src="assets/img/close-line.svg" alt="close-icon">
          </div>
       </div>
       
       <!--  Toggle Button  -->
       <div class="nav__toggle" id="nav-toggle">
          <img class="icon" src="assets/img/menu-line.svg" alt="menu-line">
       </div>
    </nav>
    </header>

    <!-- dashboard -->
    <section class="userdash container">
        
        <div class="cards">
            <!-- Upcoming Pickups Card -->
            <div class="card">
                <h2>Upcoming Pickups</h2>
                <p class="card__data"><%= currentUser.PendingReq.length %> Pending Requests</p>
            </div>
            
            <!-- Total Waste Recycled Card -->
            <div class="card">
                <h2>Waste Recycled</h2>
                <p class="card__data">34 kg</p>
            </div>
            
            <!-- Current Credits Card -->
            <div class="card">
                <h2>Current Credits</h2>
                <p class="card__data"><%= currentUser.CreditPoints %></p>
            </div>
        </div>
        
        <!-- pickup requests -->
        <div class="pickups container">

            <div class="user__scheduled__pickups">
               <h2 class="pickups__title">Upcoming Pickups:</h2>
               <% if(currentUser.PendingReq.length == 0) { %>
                <p class="pickup__facility__name"> No Pending Requests</p>
                <% } else { %>
                    <div class="pickup__details credits__button-price">
                        <p class="pickup__facility__name"><%= currentUser.PendingReq[0].plantName %></p>
                        <p class="pickup__date"><%= currentUser.PendingReq[0].date %></p>
                        <p class="pickup__time">3:30pm - 4:30pm</p>
                    </div>
                    <% } %>
            </div>
        </div>
    
    </section>

    <!-- redeem section -->

    <section class="redeem" id="redeem">
      <div class="redeem__container container">
         <div class="redeem__content">
            <h2 class="redeem__title">Redeem your credits</h2>
            <p class="redeem__subtitle">Use your credit points to redeem them for these incredible handcrafted and
               beautifully designed sustainable products. Explore our selection of environmentally friendly items,
               everyday essentials and more.</p>
         </div>

         <div class="redeem__items container">
            <div class="card__container">

               <div class="card">
                  <img src="assets/img/card-img-1.png" alt="">
                  <h2>Homemeade Garden Diary</h2>
                  <p>Writing Notebook, Recycled Handmade Paper</p>
                  <button href="#" class="credits__button-price">100 Credits</button>
               </div>
               <div class="card">
                  <img src="assets/img/card-img-2.png" alt="">
                  <h2>Cotton Quilted Tote Bag</h2>
                  <p>Indian handmade cotton quilted tote bag</p>
                  <button href="#" class="credits__button-price">150 Credits</button>
               </div>
               <div class="card">
                  <img src="assets/img/card-img-3.png" alt="">
                  <h2>Rattan Basket With Lid</h2>
                  <p>Handmade Rattan basket, sustainable gifts</p>
                  <button href="#" class="credits__button-price">50 Credits</button>
               </div>
            </div>
         </div>
      </div>
   </section>

     <!--==================== FOOTER ====================-->
   <div class="footer__container" id="footer">
    <div class="footer__text">
       <p>An initiative by</p>
       <h3>Ministry of Environment</h3>
    </div>

    <div class="social__icons">
       <a target="_blank" href="https://moef.gov.in/">
          <img class="footer__social-icon" src="assets/img/website.png" alt="">
       </a>
       <a target="_blank" href="https://twitter.com/moefcc">
          <img class="footer__social-icon" src="assets/img/twitter.png" alt="">
       </a>
       <a target="_blank" href="https://www.instagram.com/moefccgoi/">
          <img class="footer__social-icon" src="assets/img/instagram.png" alt="">
       </a>
       <a target="_blank" href="https://www.youtube.com/channel/UCCl94zd6YfuUrv9DJz_5RcA">
          <img class="footer__social-icon" src="assets/img/youtube.png" alt="">
       </a>
       <a target="_blank" href="https://www.facebook.com/moefcc/">
          <img class="footer__social-icon" src="assets/img/facebook.png" alt="">
       </a>
    </div>

    <div class="footer__nav">
       <ul>
          <li>
             <a href="#" class="footer__links">Home</a>
             <a href="#" class="footer__links">News</a>
             <a href="#" class="footer__links">Partner</a>
             <a href="#" class="footer__links">Locate</a>
             <a href="#" class="footer__links">Issues</a>
          </li>
       </ul>
    </div>

    <div class="footer__copyright">
       <p>Copyright &copy;2023 SIH <span>TeamGriffith</span></p>
    </div>
    </div>

</body>
</html>
